body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f6fa;
  color: #333;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

/* Garante que os ícones se comportem bem */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1, /* 1 para preenchido (bold), 0 para outline */
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  display: inline-block;
  vertical-align: middle;
  user-select: none; /* Impede de selecionar o texto do ícone */
}
