<aside class="sidebar">
  <div class="logo">STUDY<span>UP</span></div>
  <nav class="menu">
    <button id="inicio">
      <span class="material-symbols-rounded">home</span> Início
    </button>
    <button id="professores">
      <span class="material-symbols-rounded">person</span> Professores
    </button>
    <button id="alunos">
      <span class="material-symbols-rounded">school</span> Alunos
    </button>
    <button id="turmas">
      <span class="material-symbols-rounded">groups</span> Gerenciar Turmas
    </button>
    <button id="planos">
      <span class="material-symbols-rounded">menu_book</span> Planos de Aula
    </button>
  </nav>
</aside>