<header class="topo">
  <div></div> <div class="user-menu-container">
    <div class="perfil" id="userProfileBtn">
      <span class="material-symbols-rounded">account_circle</span>
      <span>admin</span>
      <span class="material-symbols-rounded">expand_more</span>
    </div>

    <div id="userDropdown" class="dropdown-menu">
      <button id="logoutBtn">
        <span class="material-symbols-rounded" style="font-size: 18px;">logout</span>
        Sair
      </button>
    </div>
  </div>
</header>